export VERTX_VERSION=2.1.2
export VERTICLE_NAME=company~helloworld
export VERTICLE_VERSION=0.0.1
export VERTICLE_PORT=3110

# by default, looking for a localhost docker registry.
# you should, somehow, run, somewhere, a more reliable registry
# ex: docker run -p 5000:5000 -e STORAGE_PATH=~/.dockerreg registry
export DOCKER_REGISTRY_ENDPOINT=172.17.0.2:5000
